<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Editar Empleado</h2>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>
    <form th:action="@{/empleado/editar_empleado/ + ${empleado.empleadoId != null ? empleado.empleadoId : id}}" th:object="${empleado}" method="post">
        <div class="form-group">
            <label for="dni_empleado">DNI Empleado:</label>
            <input type="text" class="form-control" id="dni_empleado" th:field="*{dni_empleado}" placeholder="Ingrese su DNI">
        </div>
        <div class="form-group">
            <label for="nombreEmpleado">Nombre:</label>
            <input type="text" class="form-control" id="nombreEmpleado" th:field="*{nombreEmpleado}" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
            <label for="apellidoEmpleado">Apellido:</label>
            <input type="text" class="form-control" id="apellidoEmpleado" th:field="*{apellidoEmpleado}" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
            <label for="fechaNacimiento">Fecha Nacimiento:</label>
            <input type="date" class="form-control" id="fechaNacimiento" th:field="*{fechaNacimiento}" placeholder="Ingrese su nombre">
        </div>
        <div class="form-group">
            <label for="direccion">Direccion:</label>
            <input type="text" class="form-control" id="direccion" th:field="*{direccion}" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico:</label>
            <input type="text" class="form-control" id="correo" th:field="*{correo}" placeholder="Ingrese su correo electrónico">
        </div>
        <div class="form-group">
                <label for="areaEntity">Area</label>
                <select th:field="*{areaEntity}" class="form-control" id="areaEntity">
                    <option th:each="area : ${areas}" 
                            th:value="${area.areaId}" 
                            th:text="${area.nombreArea}">
                    </option>
                </select>
    </div>
        
        <a th:href="@{/empleado/}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
</body>
</html>
