<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
    <div class="container mt-5">
        <h2>Lista de Empleados</h2>
        <a th:href="@{/empleado/registrar_empleado}" class="btn btn-primary">Registrar</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID Producto</th>
                    <th>DNI Empleado</th>
                    <th>Nombre Empleado</th>
                    <th>Apellido Empleado</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Direccion</th>
                    <th>correo</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="empleado : ${listaemp}">
                    <td th:text="${empleado.empleadoId}"></td>
                    <td th:text="${empleado.dni_empleado}"></td>
                    <td th:text="${empleado.nombreEmpleado}"></td>
                    <td th:text="${empleado.apellidoEmpleado}"></td>
                    <td th:text="${empleado.fechaNacimiento}"></td>
                    <td th:text="${empleado.direccion}"></td>
                    <td th:text="${empleado.correo}"></td>
                    <td th:text="${empleado.areaEntity.nombreArea}"></td>
                    
                    <td>
                    <a th:href="@{/empleado/detalle_empleado/{id}(id=${empleado.empleadoId})}" class="btn btn-info">Ver</a> |
                     <a th:href="@{/empleado/editar_empleado/{id}(id=${empleado.empleadoId})}" class="btn btn-warning">Editar</a> 
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
